body
{
	background-color: #ccc;
	color: white;
	font-size: 30px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

h1
{
	font-size: 60px;
	margin: 5px;
	color: #3F9DD7;
}

h2
{
	font-size: 30px;
	font-weight: 200;
	font-style: italic;
	margin: 5px;
}

.mainPanel
{
	background-color: #3F9DD7;
	min-width: 500px;
	border-radius:20px;
	height:auto !important;
}

.buttonsStyle
{
	background-color:#4089B6;
	box-shadow: 3px 3px 5px #225;
	border: none;
	color: white;
}

.buttonsStyle:hover
{
	background-color: #64B1E1;
}

.btn
{
	font-size: 1.1rem;
}